.join-box{
    width: 800px;
    height: 800px;
    border: 3px solid black;
    text-align: center;
}

.bottom-line-div{
    border-bottom: 2px solid black;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.check-width{
    width: 700px;
    margin: 0 auto;
}

.small-text{
    font-size: 9pt;
}