<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="category" type="com.ssun.ShopPortfolio.item.vo.ReItemVO">
        <id     column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <resultMap id="item" type="com.ssun.ShopPortfolio.item.vo.ReItemVO">
        <id     column="ITEM_CODE"   property="itemCode"/>
        <result column="ITEM_NAME"   property="itemName"/>
        <result column="ITEM_PRICE"  property="itemPrice"/>
        <result column="ITEM_STOCK"  property="itemStock"/>
        <result column="ITEM_INTRO"  property="itemIntro"/>
        <result column="REG_DATE"    property="regDate"/>
        <result column="CATE_CODE"   property="cateCode"/>
        <result column="ITEM_STATUS" property="itemStatus"/>
        <result column="STATUS_NAME" property="statusName"/>
        <!--    1:1 관계의 association 삽입    -->
        <association property="reCategoryVO" resultMap="category"/>
        <!--    1:N 관계의 collection 삽입     -->
        <collection property="reImgList" resultMap="img"/>
    </resultMap>

    <resultMap id="img" type="com.ssun.ShopPortfolio.item.vo.ReImgVO">
        <id     column="IMG_CODE"           property="imgCode"/>
        <result column="ORIGIN_FILE_NAME"   property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN"            property="isMain"/>
        <result column="ITEM_CODE"          property="itemCode"/>
    </resultMap>



</mapper>































